.header__logo {
  background: url(../../../images/heder-logo.png);
  width: 176px;
  height: 52px;
  left: 0;
  top: 0;
}

@media (max-width: 360px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: cover;
  }
}
