.footer__copyright {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 400;
  }

@media (max-width: 703px) {
  .footer__copyright {
    font-size: 12px;
  }
}

@media (max-width: 585px) {
  .footer__copyright {
    margin-top: 48px;
    font-size: 14px;
  }
}
