.cover__title {
  max-width: 560px;
  color: #ffffff;
  line-height: 1.1;
  font-size: 72px;
  font-weight: 900;
  margin: 0 0 32px 0;
  text-align: center;
  position: relative;
  z-index: 2;
}

@media (max-width: 582px) {
  .cover__title {
    max-width: 90%;
    margin-bottom: 16px;
    font-size: 48px;
  }
}

@media (max-width: 425px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
  }
}
